*{
    padding: 0%;
    margin: 0%;
    font-family: sans-serif;
    box-sizing: border-box;
}
.main{
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url('https://res.cloudinary.com/dvxrpsibz/image/upload/v1687956583/image_lsbpz6.png');
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100%;
}
nav{
    justify-content: space-between;
    display: flex;
    padding-left: 10%;
    padding-top: 40px;
    padding-right: 10%;
    align-items: center;
}
.logo{
    color: black;
    font-size: 35px;
    padding: 15px;
    letter-spacing: 1px;
}
span{
    color: red;
}
nav ul li{
    list-style-type: none;
    padding: 10px 22px;
    display: inline-block;
    margin-top: 8px;
}
nav ul li a{
    color: white;
    text-decoration: none;
    font-weight: bolder;
    font-size: 25px;
}
nav ul li a:hover{
    transition: .1s;
    color: red;
    cursor: pointer;
}
.city{
    color: white;
    border: 2px solid transparent;
    font-weight: bolder;
    font-size: 25px;
    background-color: transparent;
    width: 200px;
}
.city:hover{
    border: 2px solid transparent;
    transition: .1s;
    color: red;
    cursor: pointer;
    font-display: inherit;
}
.city option{
    color: black;
}
.row{
    padding: 15px;
    margin-top: 140px;
    margin-left: 150px;
    font-size: 25px;
    color: white;
}
.row p{
    margin-top: 50px;
}
.button{
    margin-left: 165px;
    margin-top: 35px;
}
.button a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    border-radius: 50px;
    border: 2px solid transparent;
    position: absolute;
    padding: 15px;
    background-color: red;
    cursor: pointer;
    padding: 8px 30px;
}
.button a:hover{
    transition: .1s;
    color: black;
    background-color: white;
    border: 2px solid transparent;
}
.category{
    margin: 70px 0;
    align-items: center;
    margin-left: 230px;
}
.cols-1{
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
    justify-content: space-between;
}
.small h2{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Permanent Marker', cursive;
    font-family: 'Poppins', sans-serif;
    font-size: 45px;
    font-weight: bold;
    margin-left: 605px;
}
.line{
    display: flex;
    justify-content: space-between;
}
.cols-2{
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    box-shadow: rgb(51, 48, 48);
    margin-left: 7px;
    font-size: 23px;
}
.block{
    display: flex;
    justify-content: space-between;
}
.testimonial{
    padding-top: 100px;
}
.cols-3{
    text-align: center;
    padding: 40px 20px;
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.6);
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 100px;
}
.cols-3 img{
    border-radius: 50%;
    margin-top: 20px;
    width: 50px;
}
.cols-3:hover{
    transform: translateY(-10px);
    cursor: pointer;
}
.cols-3 p{
    font-size: 12px;
    margin: 12px 0;
    color: #777;
}
.testimonial .cols-3 h3{
    font-weight: 600px;
    color: #555;
    font-size: 16px;
}
.footer{
    color: #8a8a8a;
    background-color: black;
    font-size: 14px;
    padding: 60px 0 20px;
}
.footer p{
    color: #8a8a8a;
}
.footer h3{
    color: white;
    margin-bottom: 20px;
}
.footer h4{
    color: #555;
    font-size: 45px;
    letter-spacing: 1px;
}
.footer-cols-1, .footer-cols-2, .footer-cols-3, .footer-cols-4{
    min-width: 250px;
    margin-bottom: 20px;
}
.footer-cols-1{
    flex-basis: 30%;
    margin-left: 180px;
}
.footer-cols-2{
    flex: 1;
    text-align: center;
    align-items: center;
}
.footer-cols-3, .footer-cols-4{
    flex-basis: 12%;
    text-align: center;
}
ul{
    list-style-type: none;
}
.app{
    margin-top: 20px;
}
.app img{
    width: 140px;
}
@media screen and (max-width: 600px){
    *{
    padding: 0%;
    margin: 0%;
    font-family: sans-serif;
    box-sizing: border-box;
}
    .main{
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url('https://res.cloudinary.com/dvxrpsibz/image/upload/v1687956583/image_lsbpz6.png');
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 150%;
}
}
